
*{
    padding: 0;
    margin-left: 0;
    margin-top: 0;
}
/* 背景 不重复，自适应，固定 */
.bg {
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
}

/* 背景 不重复，自适应，固定 */
.bg-div {
    background-image: url(https://c-ssl.duitang.com/uploads/blog/202204/23/20220423190327_1b354.jpeg);
    /* background-image: url(./resources/web/bg/jpg/7.jpg); */
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    position: fixed ! important;
    width: 100%;
    height: 100%;
    /* filter: blur(3px); */
}

.all-div {
    position: fixed ! important;
    margin-top: 5%;
    left: 20%;
    font-size: 20px;
    z-index: 10;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}

.div {
    z-index: 10;
}

/* 导航栏 */
.wel-head {
    width: 100vmax;
    text-align: left;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5vh;
}

.na-logo {
    width: 200px;
}

.na {
    text-decoration: none;
    display: inline-block;
    width: 120px;
    color: black;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    border-radius: 1vh;
    transition-duration: 200ms;
    text-align: center;
    /* margin-left: 10px; */
}
/* 导航悬浮 置于顶层，绝对位置固定，右边距 20px，顶部边距 80%，行高 30px，右对齐*/
.na-float {
    z-index: 999;
    position: fixed ! important;
    right: 20px;
    top: 80%;
    line-height: 30px;
    text-align: right;
}

/*导航图标*/
.na-bar {
    height: 40px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    /*动画时间*/
    transition-duration: 300ms;
}

/*跳转图标*/
.goto-icon {
    height: 40px;
    width: auto;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    margin: 5px;
    position: static;
    transition-duration: 300ms;
}

/*链接分类图标*/
.url-icon {
    height: 26px;
    border-radius: 3px;
}

/*链接图片*/
.url-image {
    /*高*/
    height: 80px;
    /*圆角*/
    border-radius: 15px;
    /*间距*/
    margin: 20px;
    /* position: static; */
    /* position: relative; */
    /*透明度*/
    /* Chrome, Safari, Opera */
    -webkit-filter: opacity(90%);
    filter: opacity(90%);
    /*动画时间*/
    transition-duration: 200ms;
    /*动画模式*/
    transition-timing-function: ease-in-out;
}

